<form method="POST" class="card login-form">
  <header class="card-header">
    <p class="card-header-title">
      Registration
    </p>
  </header>
  <div class="card-content">
    <%- include("./error", { messages: authMessages }) %>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" name="username" placeholder="Username">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" name="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="password" name="password" placeholder="Password" autocomplete="off">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <hr>
    <p class="title is-size-5">Please, answer some questions</p>
    <p class="subtitle is-size-6">
      In order to answer all questions, you'll have to read the
      <a href="#rules">server rules</a>
    </p>
    <div class="control">
      <p class="mb-2 mt-4 title is-size-6">You are being arrested, you..</p>
      <p><label class="radio">
        <input type="radio" name="answer-1" value="1">
        ... quit out of the game.
      </label></p>
      <p><label class="radio">
        <input type="radio" name="answer-1" value="2">
        ... complain in OOC to get out of it.
      </label></p>
      <p><label class="radio">
        <input type="radio" name="answer-1" value="3">
        ... roleplay it as necessary.
      </label></p>
    </div>
    <div class="control">
      <p class="mb-2 mt-4 title is-size-6">What is the right thing to do if someone rams your car?</p>
      <p><label class="radio">
        <input type="radio" name="answer-2" value="1">
        RP the car crash.
      </label></p>
      <p><label class="radio">
        <input type="radio" name="answer-2" value="2">
        Get out and shoot him to death.
      </label></p>
      <p><label class="radio">
        <input type="radio" name="answer-2" value="3">
        Keep driving.
      </label></p>
    </div>
    <div class="control">
      <p class="mb-2 mt-4 title is-size-6">You find a bug in the script. What do you do?</p>
      <p><label class="radio">
        <input type="radio" name="answer-3" value="1">
        PM the admins IG about it.
      </label></p>
      <p><label class="radio">
        <input type="radio" name="answer-3" value="2">
        Abuse it. If the admins don't fix it you're allowed to.
      </label></p>
      <p><label class="radio">
        <input type="radio" name="answer-3" value="3">
        Report it on the bug-tracker.
      </label></p>
    </div>
    <hr>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="server-terms-accept">
        I accept the server terms of service!
      </label>
    </div>
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" name="first-account-accept">
        I accept that created game account are my first and the only one.
      </label>
    </div>
    <hr>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-primary">
          Sign up
        </button>
      </p>
    </div>
  </div>
</form>